@charset "utf-8";

body {
    background-color: white;
    color: #5e4c4c;
    font-family: Gisha;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 50px;
}

.no-bullets {
    list-style: none;
}

.icon-list {
    position: relative;
    top: -10px;
}

.horizontal-list li {
    float: left;
}

.clear {
    clear: both;
}

/* Pictochart Test styles begin: */

.pikto-content {
    margin: 0 5em 5em 5em;
    text-align: center;
}

.box {
    border: 5px solid #dad5d5;
    border-radius: 10px;
}

#chart-editor {
    margin: 0 2em 0 2em;
    width: 960px;
    height: 800px;
    z-index: 1;
    position: absolute;
    top: 6em;
    left: 8em;
}

#chart-sandbox {
    margin: 2em 1em 1em 1em;
    width: 930px;
    height: 710px;
}

.draggable {
    cursor: move;
}

#chart-creator {
    display: none;
    position: absolute;
    top: 7em;
    left: 10em;
    width: 900px;
    height: 700px;
    z-index: 2;
}

.creator-window {
    background-color: white;
    margin: 0 2em 0em 2em;
    height: 500px;
    position: relative;
    top: -2em; /* top: -1000px; */ /*would make form disappear off top of page*/   
}

.top-controls-box {
    width: 100%;
    height: 30px;
}

.top-controls-form li {
    padding: 0 0 0 2em;
}

.off-page {
    top: -10000px;
}

#title-input {
}


.inner-box {
    margin: 3em 1em 0 1em;
    height: 400px;
    width: 400px;
    float: left;
    position: relative;
    top: -2em;
}

#chart-data {
    /*position: relative;
    top: -33px;*/
}

.chart-preview-svg {
    position: relative;
    top: 40px;
}

.chart-preview-container {
    height: 300px;
    width: 400px;
    position: relative;
    top: -20px;
    left: 0px;
}

.chart-lines {
    stroke: #dad5d5;
    stroke-width: 2px;  
}

.chart-text {
    fill: #5e4c4c;
    font-size: 14px;
}

#chart-data {
    text-align: left;
}

.pad-left {
    padding: 0 0 0 2em;
}

#chart-form p {
    padding: 0 0 0 2em;
}

.clickable {
    cursor: pointer;
}

.clickable-icon:hover {
    fill: #f5f2f9;
}

.selected-icon {
    fill: #dad5d5;
}

.icon-color-1 {
    fill: #cd0909;
}

.icon-color-2 {
    fill: #fcff26;
}

.icon-color-3 {
    fill: #1c96ee;
}

.icon-color-4 {
    fill: #3dc828;
}

#chart-update-button {
    float: right;
    margin-right: 2em;
}

/* Pictochart Test Styles End */



